In [3]:
import pandas as pd

In [4]:
df=pd.read_csv('C:/Users/Lenovo/MACHINE LEARNING/titanic/train.csv')

In [33]:
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

Next step: find out numerical and categorical, available data types,none blank or empty values that have to be removed

In [34]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8693 entries, 0 to 8692
Data columns (total 14 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   PassengerId   8693 non-null   object
 1   HomePlanet    8492 non-null   object
 2   CryoSleep     8476 non-null   object
 3   Cabin         8494 non-null   object
 4   Destination   8511 non-null   object
 5   Age           8514 non-null   float64
 6   VIP           8490 non-null   object
 7   RoomService   8512 non-null   float64
 8   FoodCourt     8510 non-null   float64
 9   ShoppingMall  8485 non-null   float64
 10  Spa           8510 non-null   float64
 11  VRDeck        8505 non-null   float64
 12  Name          8493 non-null   object
 13  Transported   8693 non-null   bool
dtypes: bool(1), float64(6), object(7)
memory usage: 891.5+ KB

In [5]:
print('CATEGORICAL VARIABLES ARE :- ')
for col in df.select_dtypes(include=['object']).columns:
    print(col)
    
    
final_train_test = pd.get_dummies(df, columns = ['PassengerId', 'HomePlanet', 'CryoSleep', 'Cabin', 
                                                 'Destination', 'VIP', 'Name'])

CATEGORICAL VARIABLES ARE :-
PassengerId
HomePlanet
CryoSleep
Cabin
Destination
VIP
Name

In [6]:
print('NUMERICAL VARIABLES ARE :- ')
for col in df._get_numeric_data().columns:
    print(col)

NUMERICAL VARIABLES ARE :-
Age
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported

In [12]:
#df.dtypes
final_train_test.dtypes

Age                       float64
RoomService               float64
FoodCourt                 float64
ShoppingMall              float64
Spa                       float64
                           ...
Name_Zosmark Unaasor         bool
Name_Zosmas Ineedeve         bool
Name_Zosmas Mormonized       bool
Name_Zubeneb Flesping        bool
Name_Zubeneb Pasharne        bool
Length: 23743, dtype: object

In [8]:
for col in df.columns:
    print(col,df[col].isnull().sum())

PassengerId 0
HomePlanet 201
CryoSleep 217
Cabin 199
Destination 182
Age 179
VIP 203
RoomService 181
FoodCourt 183
ShoppingMall 208
Spa 183
VRDeck 188
Name 200
Transported 0

In [39]:
for col in df.columns:
    percent_null_values=str(df[col].isnull().sum()/len(df))+"% of total values"
    print(col,percent_null_values)

PassengerId 0.0% of total values
HomePlanet 0.023122052225928908% of total values
CryoSleep 0.02496261359714713% of total values
Cabin 0.02289198205452663% of total values
Destination 0.02093638559760727% of total values
Age 0.020591280340503854% of total values
VIP 0.023352122397331185% of total values
RoomService 0.02082135051190613% of total values
FoodCourt 0.021051420683308408% of total values
ShoppingMall 0.02392729782583688% of total values
Spa 0.021051420683308408% of total values
VRDeck 0.021626596111814105% of total values
Name 0.023007017140227768% of total values
Transported 0.0% of total values

In [40]:
len(df)

8693

In [41]:
for col in df.columns:
    df.dropna(subset=[col],inplace=True)
df.head()

,PassengerId,HomePlanet,CryoSleep,Cabin,Destination,Age,VIP,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck,Name,Transported
0,0001_01,Europa,False,B/0/P,TRAPPIST-1e,39.0,False,0.0,0.0,0.0,0.0,0.0,Maham Ofracculy,False
1,0002_01,Earth,False,F/0/S,TRAPPIST-1e,24.0,False,109.0,9.0,25.0,549.0,44.0,Juanna Vines,True
2,0003_01,Europa,False,A/0/S,TRAPPIST-1e,58.0,True,43.0,3576.0,0.0,6715.0,49.0,Altark Susent,False
3,0003_02,Europa,False,A/0/S,TRAPPIST-1e,33.0,False,0.0,1283.0,371.0,3329.0,193.0,Solam Susent,False
4,0004_01,Earth,False,F/1/S,TRAPPIST-1e,16.0,False,303.0,70.0,151.0,565.0,2.0,Willy Santantines,True

In [42]:
len(df)

6606

In [43]:
print('CATEGORICAL VARIABLES ARE :- ')

categorical_variables = df.select_dtypes(include=['object']).columns

for col in categorical_variables:
    print(col)

CATEGORICAL VARIABLES ARE :-
PassengerId
HomePlanet
CryoSleep
Cabin
Destination
VIP
Name

In [44]:
print('NUMERICAL VARIABLES ARE :- ')
numerical_variables=df._get_numeric_data().columns
for col in numerical_variables:
    print(col)

NUMERICAL VARIABLES ARE :-
Age
RoomService
FoodCourt
ShoppingMall
Spa
VRDeck
Transported

In [55]:
for cat_col in categorical_variables:
    df[cat_col]=df[cat_col].fillna(df[cat_col].mode()[0])

In [56]:
for cat_col in categorical_variables:
    print(cat_col,df[cat_col].isnull().sum())

PassengerId 0
HomePlanet 0
CryoSleep 0
Cabin 0
Destination 0
VIP 0
Name 0

In [57]:
for num_col in numerical_variables:
    df[num_col] = df[num_col].fillna(df[num_col].mean())

In [58]:
for num_col in numerical_variables:
    print(num_col,df[num_col].isnull().sum())

Age 0
RoomService 0
FoodCourt 0
ShoppingMall 0
Spa 0
VRDeck 0
Transported 0

In [60]:
df.describe()

,Age,RoomService,FoodCourt,ShoppingMall,Spa,VRDeck
count,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000,6606.000000
mean,28.894036,222.991674,478.958523,178.356494,313.161520,303.780048
std,14.533429,644.987936,1678.592291,576.328407,1144.016291,1127.142166
min,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,19.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,27.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,38.000000,49.000000,82.750000,30.000000,65.000000,52.000000
max,79.000000,9920.000000,29813.000000,12253.000000,22408.000000,20336.000000

In [65]:
df.describe(include=['0'])

TypeError: data type '' not understood